.github/**
.vscode/**
.vscode-test/**
node_modules/**
out/**
resources/docs/**
src/**
.cliff-jumperrc.json
.gitignore
cliff.toml
esbuild.js
lefthook.yml
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
